.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 5%;
}

.header-responsive-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #272727;
}

.website-logo {
  align-self: center;
  height: 36px;
  margin: 0px;
}

.logout-btn {
  padding: 0 10px;
  font-size: 17px;
  background-color: #6366f1;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.nav-link-item {
  color: white;
  font-size: 20px;
  text-decoration: none;
  margin: 0 15px;
}

.transparent-btn {
  border: none;
  background-color: transparent;
  padding: 0 15px;
}

.d-inline {
  display: inline;
}

.d-none {
  display: none;
}

.mr-2 {
  margin-right: 32px;
}

@media (min-width: 768px) {
  .header-container {
    width: 85%;
  }

  .website-logo {
    height: 45px;
    margin: 0px;
  }

  .logout-btn {
    padding: 10px 30px 10px 30px;
  }

  .d-md-inline {
    display: inline;
  }

  .d-md-none {
    display: none;
  }
}
